<meta name="description"
  content="Veja toda as publicações mais recentes. Crie seu blog e comece a compartilhar seu conteúdo gratuitamente.">

<div class="container-sm">
  <div class="links cont">
    <br>
    <br>

  <div class="card center">
    <div class="card-body">
      <img src="https://cdn-icons-png.flaticon.com/512/770/770706.png">
      <br>
      <h2 class="title">Painel de controle</h2>
      <hr>
      <a href="/admin/publish"><button class="btns3">Publicar</button></a>
      <a href="/"><button class="btns">Home</button></a>
      <a href="/admin/logout"><button class="btns2">Sair</button></a>
      <br>
      <br>
    </div>
  </div>
</div>
</div>

<div class="container-sm">
  <div class="links cont">
  <br>
  <div class="">
    <h7 class="title" align="center">Seus posts</h7>
  </div>
  <br>
  <br>
  {{#each posts}}
    <a href="/website/ler/{{titulo}}" class="href">
    <div class="card effect borda">
        <div class="row no-gutters">
            <div class="col-md-3">
                <img src="{{thumb}}" class="card-img ig" alt="thumbnail">
            </div>
            <div class="card-body">
                <small class="card-text">Publicado em {{data}}</small>
                <br>
                <h7 class="title2">{{titulo}}</h7>
                <br>
                <p class="text2">Escrito por {{autor}}</p>
            </div>
            
        </div>
    </div>
    </a>
  {{/each}}
  <br>
  <br>
  </div>
</div>


<style>
  .marker {
    background-color: Yellow;
  }

  .href {
        text-decoration: none;
        text-decoration-color: transparent;
        padding: 0px;
        margin: 0px;
        color: black;
    }

    .href:hover {
        text-decoration: none;
        color: black;
    }

    .effect {
        transition: 0.5s;
    }

    .effect:hover {
        transform: scale(1.05);
    }

  .btns {
        background-color: transparent;
        color: #060d13;
        padding: 4px 10px;
        border: 1px solid #90EE90;
        transition: all 0.3s ease-out;
    }

    .btns:hover,
    .btns:hover {
        background: #90EE90;
        color: #fff;
        transition: all 0.3s ease-out;
    }

  .btns2 {
        background-color: transparent;
        color: #060d13;
        padding: 4px 10px;
        border: 1px solid #ff5050;
        transition: all 0.3s ease-out;
    }

    .btns2:hover,
    .btns2:hover {
        background: #ff5050;
        color: #fff;
        transition: all 0.3s ease-out;
    }

  .btns3 {
        background-color: transparent;
        color: #060d13;
        padding: 4px 10px;
        border: 1px solid #0d0d0d;
        transition: all 0.3s ease-out;
    }

    .btns3:hover,
    .btns3:hover {
        background: #0d0d0d;
        color: #fff;
        transition: all 0.3s ease-out;
    }

  .lop {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .title {
    font-size: 30px;
  }

  .title2 {
    font-size: 20px;
  }

  .text {
    font-size: 15px;
  }


  .di {
    margin-left: 10px;
    margin-right: 10px;
  }

  button {
    border: none;
    background-color: white;
  }

  .dog {
    width: 600px;
  }

  .bm {
    text-transform: initial;
    text-decoration: none;
    color: #006600;
  }

@media (max-width: 768px) {
    .links {
        padding: 0px;
        margin-top: 100px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .inlinks {
        padding: 0px;
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    img {
        max-height: 100%;
        max-width: 100%;
        border-radius: 8px;
    }

    .ig {
        height: 200px;
        width: 150px;
        border-radius: 8px;
        align-items: center;
    }

    .alig {
        align-items: center;
    }

    .borda {
      margin-bottom: 50px;
      padding: 0px;
      height: 370px;
      width: 100%;
    }
}


@media (min-width: 768px) {
    .links {
        padding: 0px;
        margin-top: 10px;
        margin-left: 70px;
        margin-right: 70px;
    }

    .inlinks {
        padding: 0px;
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
    }

    img {
        max-height: 300px;
        max-width: 400px;
        border-radius: 8px;
    }

    .ig {
        height: 120px;
        width: 150px;
        border-radius: 8px;
    }

    .borda {
      margin-bottom: 50px;
      padding: 0px;
      height: 120px;
    }
}

@media (min-width: 1200px) {
    .links {
        padding: 0px;
        margin-top: 10px;
        margin-left: 200px;
        margin-right: 200px;
    }

    .inlinks {
        padding: 0px;
        margin-top: 10px;
        margin-left: 200px;
        margin-right: 200px;
    }

    img {
        max-height: 100%;
        max-width: 100%;
        border-radius: 8px;
    }

    .ig {
        height: 120px;
        width: 170px;
        border-radius: 8px;
    }

    .borda {
      margin-bottom: 50px;
      padding: 0px;
      height: 120px;
      width: 100%;
    }
}

  img {
    height: 200px;
    width: 200px;
  }
</style>
