<div class="container">
  <div class="bg-white">
    
    <div class="relative isolate overflow-hidden px-6 pt-16 shadow-2xl rounded-3xl sm:rounded-3xl sm:px-16 md:pt-24 lg:flex lg:gap-x-20 lg:px-24 lg:pt-0" style="background: fixed no-repeat top center url('https://images.unsplash.com/photo-1669951584605-4deba095a87f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1964&q=80'); box-shadow: inset 0 0 0 2000px rgba(5, 24, 88, 0.3); margin-top: 180px;">
    <div class="mx-auto max-w-7xl py-5 sm:px-6 sm:py-32 lg:px-8">
      <div class="">
        <div class="mx-auto max-w-md text-center lg:mx-0 lg:flex-auto lg:py-32 lg:text-left">
          <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">Sem Reais</h2>
          <p class="mt-6 text-xl leading-8 text-white">Um portal exclusivamente dedicado ao empreendedor de primeira viagem. Aprenda como montar, regularizar, e administrar seu primeiro (ou talvez segundo) negócio.</p>
          <div class="mt-10 flex items-center justify-center gap-x-6" style="margin-bottom: 50px;">
            <a href="#" class="rounded-md bg-white px-2 py-3 text-sm font-semibold text-gray-900 shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">Consumir conteúdo</a>
            <a href="#" class="text-sm font-semibold leading-6 text-white">Falar com consultor<span aria-hidden="true">→</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

    <section class="bg-white">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
            <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-3xl p-8 md:p-12 mb-8" align="center">
                <h1 class="text-gray-800 text-2xl md:text-5xl tracking-tight font-medium mb-2">Imagine, crie, empreenda.</h1>
                <p class="text-lg font-normal text-gray-800 dark:text-gray-400 mb-6">Capacitando os empreendedores e empresários da economia 4.0 da segunda década do século 21.</p>
                
            </div>
            <div class="grid md:grid-cols-2 gap-8">
              {{#each post}}
                <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-xl p-2 md:p-4" style="background: url('{{thumb}}');">    
                  <a href="/website/ler/{{_id}}" class="" style="text-decoration: none; margin-top: 30px">         
                    <h2 class="text-white text-xl font-medium mb-2">{{titulo}}</h2>
                    <p class="text-lg font-normal text-white mb-4">Publicado em {{data}}</p>
                    <a href="#" class="text-white dark:text-blue-500 hover:underline font-medium text-lg inline-flex items-center">Ler mais</a>
                  </a>
                </div>
              {{/each}}
            </div>
        </div>
    </section>


    <!--<div class="w-full">
      <div class="">
        <h7 class="title2" align="center">Recentes</h7>
      </div>
      {{#each posts}}
      
      <a href="/website/ler/{{_id}}" style="width: full;" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl" style="width: 100%;">
          <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="{{thumb}}" alt="">
          <div class="flex flex-col justify-between p-4 leading-normal">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{titulo}}</h5>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Publicado em {{data}}</p>
          </div>
      </a>     
      {{/each}}
      <br>
      <h7 class="text3 center">Veja todos os artigos da <a href="/website/artigos">Starterpack</a></h7>
      <br>
      <hr style="color: #fff">
    </div>-->

  </div>
</div>

<div class="container-md">
  <div class="">
  <br>
  <div class="">
    <h7 class="title2" align="center">Recentes</h7>
  </div>
  <br>
  {{#each posts}}
    <a href="/website/ler/{{_id}}" class="href">
    <div class="effect cardposts alig">
        <div class="row no-gutters">
            <div class="col-sm-2">
                <img src="{{thumb}}" class="ig" alt="thumbnail">
            </div>
            <div class="alig">
                <br>
                <small class="card-text">Publicado em {{data}}</small>
                <br>
                <h2 class="title">{{titulo}}</h2>
            </div>
            
        </div>
    </div>
    </a>
  {{/each}}
  <br>
  <h7 class="text3 center">Veja todos os artigos da <a href="/website/artigos">Sem Reais</a></h7>
  <br>
  </div>
  <br>
</div>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5268620886472598"
     crossorigin="anonymous"></script>
<style>

  .back {
    background-image: linear-gradient(to left, #1B50D8, #0a0a0a);
  }

      .carousel-item {
    width: 100%;
  }

  .ilireverse {
    filter: brightness(300%);
  }

  .ko {
    margin-left: 20px;
  }

  .href {
        text-decoration: none;
        text-decoration-color: transparent;
        padding: 0px;
        margin: 0px;
        color: black;
    }

    .href:hover {
        text-decoration: none;
        color: black;
    }

    .effect {
        transition: 0.5s;

    }

  .cardposts {
      padding: 5px;
      margin-top: 20px;
      margin-bottom: 20px;
      border-radius: 10px;
      border: solid #fff;
      border-width: 0.5px;
  }

  .postImg {
    height: 150px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

    .effect:hover {
        transform: scale(1.05);
    }

  .btns {
        background-color: transparent;
        color: #060d13;
        padding: 4px 10px;
        border: 1px solid #90EE90;
        transition: all 0.3s ease-out;
    }

    .btns:hover,
    .btns:hover {
        background: #90EE90;
        color: #fff;
        transition: all 0.3s ease-out;
    }

  .btns2 {
        background-color: transparent;
        color: #060d13;
        padding: 4px 10px;
        border: 1px solid #ff5050;
        transition: all 0.3s ease-out;
    }

    .btns2:hover,
    .btns2:hover {
        background: #ff5050;
        color: #fff;
        transition: all 0.3s ease-out;
    }

  .btns3 {
        background-color: transparent;
        color: #060d13;
        padding: 5px 10px;
        border: 1px solid #0d0d0d;
        transition: all 0.3s ease-out;
        margin: 7px;
    }

    .btns3:hover,
    .btns3:hover {
        background: #0d0d0d;
        color: #fff;
        transition: all 0.3s ease-out;
    }

    .ma {
      margin-bottom: 20px;
    }

    .title2 {
      font-size: 30px;
    }

    .title3 {
      font-size: 50px;
    }

    .text2 {
      font-size: 15px;
    }

    .text3 {
      font-size: 20px;
    }

  .alig {
        align-items: center;
        align-content: center;
    }


@media (max-width: 768px) {
  .links {
        padding: 0px;
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
  

    .title {
    font-size: 20px;
  }

  .text {
    font-size: 15px;
  }

  img {
      max-height: 100%;
      max-width: 100%;
  }

  .ig {
        height: 200px;
        width: 100%;
        border-radius: 8px;
        align-items: center;
    }

    .alig {
        align-items: center;
    }

    .borda {
      margin-bottom: 10px;
      padding: 0px;
      height: 250px;
      width: 100%;
    }

    .ili {
    height: 40%;
    width: 100%;
    border-radius: 0px;
    filter: brightness(45%);
    filter:blur(50%)
  }

  .hei {
    margin-bottom: 90px;
  }
}


@media (min-width: 768px) {
    

    .title {
      font-size: 40px;
    }

    .text {
      font-size: 20px;
    }

    img {
        max-height: 100%;
        max-width: 100%;
    }

    .ig {
        height: 120px;
        width: 160px;
        border-radius: 8px;
    }

    .borda {
      margin-bottom: 50px;
      padding: 0px;
      height: 100px;
    }

    .ili {
      height: 600px;
      min-width: 100%;
      border-radius: 0px;
       filter: brightness(45%);
      filter:blur(50%)
    }

    .hei {
      margin-bottom: 25px;
    }
}

@media (min-width: 1000px) {
  .links {
        padding: 0px;
        margin-top: 10px;
        margin-left: 200px;
        margin-right: 200px;
    }

    .title {
      font-size: 40px;
    }

    .text {
      font-size: 20px;
    }

    img {
        max-height: 100%;
        max-width: 100%;
    }

  .ig {
        height: 120px;
        width: 160px;
        border-radius: 8px;
    }

    .borda {
      margin-bottom: 50px;
      padding: 0px;
      height: 120px;
    }

    .ili {
      min-height: 70%;
      width: 100%;
      border-radius: 0px;
       filter: brightness(45%);
      filter:blur(50%)
    }

    .hei {
      margin-bottom: 50px;
    }
}

@media (min-width: 1200px) {
    

    

    img {
        max-height: 100%;
        max-width: 100%;
    }
    
  .title {
    font-size: 20px;
  }

  .text {
    font-size: 20px;
  }

.ig {
  height: 120px;
  width: 160px;
  border-radius: 8px;
}

    .borda {
      margin-bottom: 30px;
      padding: 0px;
      height: 120px;
      width: 100%;
    }

    .ili {
    height: 80%;
    width: 100%;
    border-radius: 0px;
    filter: brightness(45%), blur(80%);
  }

  .hei {
    margin-bottom: 260px;
  }
}
    
</style>



    
      