<meta name="description" content="Leia o post {{posts.titulo}} de {{posts.autor}} publicado em {{posts.data}}.">
<title>{{posts.titulo}}</title>

<div class="container-sm">
    <div class="links cont">
    {{#if user}}
        <br>
        <a href="/admin/editar/{{posts._id}}"><button class="btns">Editar</button></a>
        <a href="/admin/excluir/{{posts._id}}"><button class="btns">Deletar</button></a>
        <br>
        <br>
        <br>
    {{else}}
    {{/if}}
    <a href="/{{posts.category}}"><button class="btns">{{posts.category}}</button></a>
    <br>
    <p class="text">Publicado em {{posts.data}} por <a href="/website/perfil/{{posts.email}}">{{posts.autor}}</a></p>
    <h5 class="title">{{posts.titulo}}</h5>
    <br>
    <div class="" align="">
      <img src='{{posts.thumb}}' alt='imagem de capa do post' class='total' align="" />
      <br>
    </div>
    <br>
    <br>
    <div align="justify" class="">
      {{{posts.conteudo}}}
    </div>
    <br>
    </div>
</div>

<div class="container-sm">
  <div class="links cont">
  <br>
  <div class="">
    <h7 class="title" align="center">Posts recentes</h7>
  </div>
  <br>
  <br>
  {{#each post}}
    <a href="/website/ler/{{_id}}" class="href">
    <div class="effect borda">
        <div class="row no-gutters">
            <div class="col-md-3">
                <img src="{{thumb}}" class="card-img ig" alt="thumbnail">
            </div>
            <div class="ko">
                <small class="card-text">Publicado em {{data}}</small>
                <br>
                <h7 class="card-title">{{titulo}}</h7>
                <br>
                <p class="card-text text2">Escrito por {{autor}}</p>
            </div>
            
        </div>
    </div>
    </a>
  {{/each}}
  <br>
  <h7 class="text center">Veja todos os posts da <a href="/website/artigos">Nautilus</a></h7>
  <br>
  <br>
  </div>
  <hr>
</div>


<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5268620886472598"
     crossorigin="anonymous"></script>
<style>

    .href {
        text-decoration: none;
        text-decoration-color: transparent;
        padding: 0px;
        margin: 0px;
        color: black;
    }

    .href:hover {
        text-decoration: none;
        color: black;
    }

    .ko {
    margin: 20px;
  }

    .effect {
        transition: 0.5s;
    }

    .effect:hover {
        transform: scale(1.05);
    }

    .total {
        width: 100%;
        align-self: center;
    }

    .cont {
        align-items: center;
        justify-content: center;
    }

    .marker {
        background-color: Yellow;
    }

  .btns {
        background-color: transparent;
        color: #060d13;
        padding: 4px 10px;
        border: 1px solid #060d13;
        transition: all 0.3s ease-out;
    }

    .btns:hover,
    .btns:hover {
        background: #060d13;
        color: #fff;
        transition: all 0.3s ease-out;
    }

  .title {
    font-size: 30px;
  }

  .title2 {
    font-size: 18px;
  }

  .text {
    font-family: 'Teko', sans-serif;
    font-size: 20px;
  }

  h1, h2, h3, h4 {
    font-family: 'Big Shoulders Display';
  }

  .lop2 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }




@media (max-width: 768px) {
    .links {
        padding: 0px;
        margin-top: 100px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .inlinks {
        padding: 0px;
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    img {
        max-height: 100%;
        max-width: 100%;
        border-radius: 8px;
    }

    .ig {
        height: 200px;
        width: 150px;
        border-radius: 8px;
        align-items: center;
    }

    .alig {
        align-items: center;
    }

    .borda {
      margin-bottom: 50px;
      padding: 0px;
      height: 370px;
      width: 100%;
    }
}


@media (min-width: 768px) {
    .links {
        padding: 0px;
        margin-top: 10px;
        margin-left: 70px;
        margin-right: 70px;
    }

    .inlinks {
        padding: 0px;
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
    }

    img {
        max-height: 300px;
        max-width: 400px;
        border-radius: 8px;
    }

    .ig {
        height: 120px;
        width: 150px;
        border-radius: 8px;
    }

    .borda {
      margin-bottom: 50px;
      padding: 0px;
      height: 120px;
    }
}

@media (min-width: 1200px) {
    .links {
        padding: 0px;
        margin-top: 10px;
        margin-left: 200px;
        margin-right: 200px;
    }

    .inlinks {
        padding: 0px;
        margin-top: 10px;
        margin-left: 200px;
        margin-right: 200px;
    }

    img {
        max-height: 100%;
        max-width: 100%;
        border-radius: 8px;
    }

    .ig {
        height: 120px;
        width: 170px;
        border-radius: 8px;
    }

    .borda {
      margin-bottom: 50px;
      padding: 0px;
      min-height: 120px;
      width: 100%;
    }
}







</style>
